
.jumbotron {
  background: url(../images/StockSnap_TANQZM2HEP.jpg);
  background-size: 100% 100%;
}

.display-4 {
	margin-top: 25px;
	color: white;
}

.lead {
	color:white;
}

#saved {
	color:white;
}

#articles {
	display: inline-block;
	overflow: auto;
	width: 60%;
	height: 700px;
}
#notes {
	float: right;
	width: 30%;
}
